/*THIS IS THE ENTIRE BODY BACKGROUND*/

body {
  background-color: white;
}

/*THIS IS THE WRAPPER FOR THE WHOLE PAGE*/

.wrapperpage{
  background-color: #f4f8fc;
  margin: 20px;
}

/*THIS IS THE NAV BAR*/

a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 5px;
}

div#top_nav {
  padding: 10px;
  text-align: center;

}

div#top_nav li {
  display: inline;
  padding: 15px;
  margin: 5px;
}

div#top_nav a {
  display: inline-block;
  position: relative;
}

div#top_nav a:hover {
  color: #3b6e93;
}

div#top_nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #3b6e93;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
}

div#top_nav a:hover:before, div#top_nav a.active:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.active {
  color: #3b6e93;
}

.Slogo {
  font-size: 70px;
}


/*THIS IS MY PROJECTS PAGE*/
.projectspage {
  padding-top: 10px;
  padding-left: 12%;
  padding-right: 12%;
}

 .cssbox{
   padding: 10px;
   display:grid;
   grid-template-columns: 1fr 2fr 1fr;
   grid-auto-rows: minmax(200px; auto);
   grid-gap: 2em;
   justify-items:stretch;
   align-items:stretch;

 }

 .cssbox >div{
   /*background: #eee;*/
   padding:1em;
 }


.cssbox >div:nth-child(odd){
  /*background: #ddd;*/
}
.box1{
  grid-column: 1/3;
  height: 220px;
  box-shadow: 10px 10px 5px #888;
  background-image: url('bluecity.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}
.box1:hover{
  opacity: .6;
}
.box2{
box-shadow: 10px 10px 5px #888;
height: 220px;
background-image: url('firebird.jpg');
background-repeat: no-repeat;
background-size: cover;
}
.box3{
height: 250px;
box-shadow: 10px 10px 5px #888;
background-image: url('strawberry.jpg');
background-repeat: no-repeat;
background-size: cover;
}
.box4{
  height: 250px;
box-shadow: 10px 10px 5px #888;
background-image: url('organize.jpg');
background-repeat: no-repeat;
background-size: cover;
opacity: 1;
}
.box4:hover{
  opacity: .6;
}
.box5{
  height: 250px;
box-shadow: 10px 10px 5px #888;
background-image: url('road.jpg');
background-repeat: no-repeat;
background-size: cover;
}

/*THIS IS THE MODAL FEATURE*/

.modal {
  background-color: white;
  opacity: .8;
  width: 80%;
  height: 100%;
}

/*THIS IS MY SKILLS PAGE*/
.skillspage {
  font-size: 50PX;
  text-align: center;
}
.skillstext {
  letter-spacing: 4px;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 100;
  padding: 25px;
}
.skillstext:hover {
  color: #3b6e93;
}
.firsteightskills {
  text-align: center;
  padding: 30px;
}

.secondeightskills{
  text-align: center;
  padding: 30px;
}

.devicon{
  padding: 20px;
  opacity: 0.7;
}

.devicon:hover{
  color: #3b6e93;
}

/*THIS IS THE FOOTER*/

.footer {
  text-align: center;
  overflow: hidden;
}

.github {
  padding: 30px;
}

.linkedin {
  padding: 30px;
}

.dribble {
  padding: 30px;
}

.slack {
  padding: 30px;
}

/*THIS IS HOVER OVER EFFECT ON FOOTER*/

.github:hover {
  color: #3b6e93;
}

.linkedin:hover {
  color: #3b6e93;
}

.dribble:hover {
  color: #3b6e93;
}

.slack:hover {
  color: #3b6e93;
}

.scrollToTop {
  width: 50px;
  height: 50px;
  padding-left: 20px;
  margin-bottom: 25px;
  text-align: center;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  float: right;
  /*display:none;*/
}

.scrollToTop:hover {
  text-decoration: none;
}
